.modal-error {
  display: flex;
  justify-content: center;
  background-color: hwb(0 100% 0% / 0.7);

  .error {
    margin-top: 15vh;
    height: fit-content;
    background-color: rgb(181, 231, 237);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    width: 50%;
  }
}