.results-list {
  margin-top: 1rem !important;
  color: var(--very-dark-grey);
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  padding: 0 !important;
  width: min(1300px, 100%);
  max-width: 360;
  border-radius: 1rem;
  border: '1px solid black';
  background-color: #ffffff;
  hr {
    height: 60%;
    align-self: center;
  }
}