.results-list {
  margin-top: 1rem !important;
  color: var(--very-dark-grey);
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  width: min(1300px, 100%);
  border-radius: 1rem;
  background-color: #ffffff;
  z-index: 5;

  hr {
    height: 100px;
    align-self: center;
  }

  &.results-error {
    padding: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    line-height: 130%;
    font-size: 1.5rem;
    width: min(800px, 100%);
    font-weight: 500;
    color: var(--accent-color);
  }
}